In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv('Mexico City,Mexico 2022-01-01 to 2024-02-11.csv')

In [19]:
data.describe()

,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipprob,...,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,moonphase
count,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,...,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,763.000000,772.000000
mean,26.135233,8.759067,17.529275,25.729145,8.405052,17.424352,6.927073,55.219171,2.028758,53.367876,...,24.105570,138.384715,1018.623964,52.898446,12.507513,253.646503,21.884067,9.152850,10.052425,0.481878
std,3.319045,4.127945,2.520314,2.855185,4.432654,2.513637,4.158018,13.248680,5.313904,49.918786,...,8.573417,120.764338,2.943424,29.020915,2.382735,60.519262,5.227731,1.259961,1.023287,0.290156
min,15.700000,-2.900000,10.800000,15.700000,-5.100000,10.600000,-4.200000,22.800000,0.000000,0.000000,...,10.700000,0.400000,1009.000000,0.000000,4.500000,39.600000,3.400000,2.000000,10.000000,0.000000
25%,24.000000,5.875000,15.900000,24.000000,5.100000,15.800000,4.000000,45.900000,0.000000,0.000000,...,18.400000,31.575000,1016.600000,28.900000,10.800000,219.800000,19.000000,9.000000,10.000000,0.240000
50%,26.100000,9.300000,17.700000,26.100000,9.000000,17.700000,7.200000,56.600000,0.100000,100.000000,...,23.100000,105.600000,1018.800000,55.200000,12.600000,255.750000,22.000000,10.000000,10.000000,0.490000
75%,28.100000,12.100000,19.200000,27.500000,12.100000,19.100000,10.600000,65.700000,1.100500,100.000000,...,27.700000,214.325000,1020.600000,78.225000,14.100000,298.500000,25.725000,10.000000,10.000000,0.750000
max,35.100000,18.700000,24.900000,32.800000,18.700000,24.400000,14.100000,85.600000,60.500000,100.000000,...,178.500000,359.900000,1027.200000,99.200000,24.100000,370.900000,32.000000,10.000000,30.000000,0.980000

In [20]:
data.describe(include='all')

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
count,772,772,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,...,772.000000,772.000000,763.000000,772,772,772.000000,772,772,772,772
unique,1,772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,772,772,NaN,6,30,4,152
top,"Mexico City,Mexico",2022-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2022-01-01T07:10:47,2022-01-01T18:09:47,NaN,"Rain, Partially cloudy",Partly cloudy throughout the day.,rain,"76726099999,76675399999,76679399999,7668009999..."
freq,772,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,1,NaN,339,173,412,68
mean,NaN,NaN,26.135233,8.759067,17.529275,25.729145,8.405052,17.424352,6.927073,55.219171,...,21.884067,9.152850,10.052425,NaN,NaN,0.481878,NaN,NaN,NaN,NaN
std,NaN,NaN,3.319045,4.127945,2.520314,2.855185,4.432654,2.513637,4.158018,13.248680,...,5.227731,1.259961,1.023287,NaN,NaN,0.290156,NaN,NaN,NaN,NaN
min,NaN,NaN,15.700000,-2.900000,10.800000,15.700000,-5.100000,10.600000,-4.200000,22.800000,...,3.400000,2.000000,10.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,24.000000,5.875000,15.900000,24.000000,5.100000,15.800000,4.000000,45.900000,...,19.000000,9.000000,10.000000,NaN,NaN,0.240000,NaN,NaN,NaN,NaN
50%,NaN,NaN,26.100000,9.300000,17.700000,26.100000,9.000000,17.700000,7.200000,56.600000,...,22.000000,10.000000,10.000000,NaN,NaN,0.490000,NaN,NaN,NaN,NaN
75%,NaN,NaN,28.100000,12.100000,19.200000,27.500000,12.100000,19.100000,10.600000,65.700000,...,25.725000,10.000000,10.000000,NaN,NaN,0.750000,NaN,NaN,NaN,NaN
max,NaN,NaN,35.100000,18.700000,24.900000,32.800000,18.700000,24.400000,14.100000,85.600000,...,32.000000,10.000000,30.000000,NaN,NaN,0.980000,NaN,NaN,NaN,NaN

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              772 non-null    object
 1   datetime          772 non-null    object
 2   tempmax           772 non-null    float64
 3   tempmin           772 non-null    float64
 4   temp              772 non-null    float64
 5   feelslikemax      772 non-null    float64
 6   feelslikemin      772 non-null    float64
 7   feelslike         772 non-null    float64
 8   dew               772 non-null    float64
 9   humidity          772 non-null    float64
 10  precip            772 non-null    float64
 11  precipprob        772 non-null    int64
 12  precipcover       772 non-null    float64
 13  preciptype        464 non-null    object
 14  snow              763 non-null    float64
 15  snowdepth         764 non-null    float64
 16  windgust          771 non-null    float64
 17  windspeed         772 non-null    float64
 18  winddir           772 non-null    float64
 19  sealevelpressure  772 non-null    float64
 20  cloudcover        772 non-null    float64
 21  visibility        772 non-null    float64
 22  solarradiation    772 non-null    float64
 23  solarenergy       772 non-null    float64
 24  uvindex           772 non-null    int64
 25  severerisk        763 non-null    float64
 26  sunrise           772 non-null    object
 27  sunset            772 non-null    object
 28  moonphase         772 non-null    float64
 29  conditions        772 non-null    object
 30  description       772 non-null    object
 31  icon              772 non-null    object
 32  stations          772 non-null    object
dtypes: float64(22), int64(2), object(9)
memory usage: 199.2+ KB

In [22]:
data.replace('?', np.nan, inplace=True)

In [23]:
missing_data = data.isnull()
missing_data.head(5)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False

In [24]:
for column in missing_data.columns.values.tolist():
    print(missing_data[column].value_counts())
    print("")

name
False    772
Name: count, dtype: int64

datetime
False    772
Name: count, dtype: int64

tempmax
False    772
Name: count, dtype: int64

tempmin
False    772
Name: count, dtype: int64

temp
False    772
Name: count, dtype: int64

feelslikemax
False    772
Name: count, dtype: int64

feelslikemin
False    772
Name: count, dtype: int64

feelslike
False    772
Name: count, dtype: int64

dew
False    772
Name: count, dtype: int64

humidity
False    772
Name: count, dtype: int64

precip
False    772
Name: count, dtype: int64

precipprob
False    772
Name: count, dtype: int64

precipcover
False    772
Name: count, dtype: int64

preciptype
False    464
True     308
Name: count, dtype: int64

snow
False    763
True       9
Name: count, dtype: int64

snowdepth
False    764
True       8
Name: count, dtype: int64

windgust
False    771
True       1
Name: count, dtype: int64

windspeed
False    772
Name: count, dtype: int64

winddir
False    772
Name: count, dtype: int64

sealevelpressure
False    772
Name: count, dtype: int64

cloudcover
False    772
Name: count, dtype: int64

visibility
False    772
Name: count, dtype: int64

solarradiation
False    772
Name: count, dtype: int64

solarenergy
False    772
Name: count, dtype: int64

uvindex
False    772
Name: count, dtype: int64

severerisk
False    763
True       9
Name: count, dtype: int64

sunrise
False    772
Name: count, dtype: int64

sunset
False    772
Name: count, dtype: int64

moonphase
False    772
Name: count, dtype: int64

conditions
False    772
Name: count, dtype: int64

description
False    772
Name: count, dtype: int64

icon
False    772
Name: count, dtype: int64

stations
False    772
Name: count, dtype: int64